.p5{
    padding: 5px;
}
.p10{
    padding: 10px;
}
.p20{
    padding: 20px;
}
.p30{
    padding: 30px;
}

.m5{
    margin: 5px;
}
.m10{
    margin: 10px;
}
.m20{
    margin: 20px;
}

.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}

.my30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.mr5{
    margin-right: 5px;
}
.mr15{
    margin-right: 15px;
}

.container{
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.calc{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}