:root{
    --primary: #ff6348;
    --gray: #20232a;
    --gray-light: #efefef;
    --font-text: "Montserrat", sans-serif;
    --shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
    --text: #444;
}